.fyheadstyle215463{ font-size: 9pt; font-family: 宋体 ;}

.govitemcontentc215457 table {
    border-collapse: collapse;
    border:1px #FFA366 solid;}
.govitemcontentc215457 td {
    border:1px #FFA366 solid;}
