.winstyle220741{ position: fixed;}

.timestyle216400{ font-size: 14px;}
.leaderfont216400{ font-size: 9pt; line-height: 150% ;}
.titlestyle216400{ color: #222222; font-size: 14px; line-height: 35px;}
.winstyle216400{  font-size: 14px ;}
.tjtextstyle216400{ font-family: 宋体; font-size: 9pt ;}

.selectstyle216370{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle216370{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

.selectstyle216371{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle216371{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

.selectstyle216373{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle216373{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

.selectstyle216372{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle216372{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

