.timestyle216953{ font-size: 14px;}
.leaderfont216953{ font-size: 9pt; line-height: 150% ;}
.titlestyle216953{ color: #222222; font-size: 14px; line-height: 35px;}
.winstyle216953{  font-size: 14px ;}
.tjtextstyle216953{ font-family: 宋体; font-size: 9pt ;}

.selectstyle216923{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle216923{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

.selectstyle216924{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle216924{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

.selectstyle216926{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle216926{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

.selectstyle216925{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle216925{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

