.winstyle220744{ position: fixed;}

.timestyle215721{ font-size: 14px;}
.leaderfont215721{ font-size: 9pt; line-height: 150% ;}
.titlestyle215721{ color: #222222; font-size: 14px; line-height: 35px;}
.winstyle215721{  font-size: 14px ;}
.tjtextstyle215721{ font-family: 宋体; font-size: 9pt ;}

.selectstyle215683{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle215683{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

.selectstyle215684{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle215684{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

.selectstyle215686{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle215686{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

.selectstyle215685{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle215685{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

