.winstyle220742{ position: fixed;}

.timestyle216138{ font-size: 14px;}
.leaderfont216138{ font-size: 9pt; line-height: 150% ;}
.titlestyle216138{ color: #222222; font-size: 14px; line-height: 35px;}
.winstyle216138{  font-size: 14px ;}
.tjtextstyle216138{ font-family: 宋体; font-size: 9pt ;}

.selectstyle216108{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle216108{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

.selectstyle216109{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle216109{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

.selectstyle216111{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle216111{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

.selectstyle216110{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle216110{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

