.winstyle220745{ position: fixed;}

.timestyle217244{ font-size: 14px;}
.leaderfont217244{ font-size: 9pt; line-height: 150% ;}
.titlestyle217244{ color: #222222; font-size: 14px; line-height: 35px;}
.winstyle217244{  font-size: 14px ;}
.tjtextstyle217244{ font-family: 宋体; font-size: 9pt ;}

.selectstyle217214{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle217214{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

.selectstyle217215{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle217215{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

.selectstyle217217{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle217217{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

.selectstyle217216{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle217216{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

