.timestyle217050{ font-size: 14px;}
.leaderfont217050{ font-size: 9pt; line-height: 150% ;}
.titlestyle217050{ color: #222222; font-size: 14px; line-height: 35px;}
.winstyle217050{  font-size: 14px ;}
.tjtextstyle217050{ font-family: 宋体; font-size: 9pt ;}

.selectstyle217020{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle217020{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

.selectstyle217021{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle217021{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

.selectstyle217023{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle217023{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

.selectstyle217022{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle217022{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

