.winstyle220743{ position: fixed;}

.timestyle217341{ font-size: 14px;}
.leaderfont217341{ font-size: 9pt; line-height: 150% ;}
.titlestyle217341{ color: #222222; font-size: 14px; line-height: 35px;}
.winstyle217341{  font-size: 14px ;}
.tjtextstyle217341{ font-family: 宋体; font-size: 9pt ;}

.selectstyle217311{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle217311{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

.selectstyle217312{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle217312{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

.selectstyle217314{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle217314{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

.selectstyle217313{ font-size: 9pt; width: 150px; color: #222222; font-family: 宋体; position: relative; height: 20px ;}
.titlestyle217313{ font-size: 9pt; color: #222222; font-family: 宋体; text-align: center ;}

