.govitemcontentc215520 table {
    border-collapse: collapse;
    border:1px #dadada solid;height:35px; line-height:35px;}

.govitemcontentc215520 td {
    border:1px #dadada solid;height:35px; line-height:35px;}
