.govitemcontentdetalc215523 table
{
    border-collapse:collapse;
    border:1px #dadada solid;}                                                                          
.govitemcontentdetalc215523 td
{
    border:1px #dadada solid;padding-left:10px;line-height:40px;}  
